// colors
$primary-color: #e7816b;
$black-one-color: #1d1c1e;
$white-color: #ffffff;
$light-peach-color: #ffad9b;
$dark-grey-color: #333136;
$light-grey-color: #dfdfdf;

// fonts
$main-ff: "Jost", sans-serif;
